{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <a href="{{ path('app_homepage') }}">Homepage</a>
    </div>

    <br>

    {{ 'hello from index'|trans }}
    <br>

    {% trans %}Hello %name%{% endtrans %}
    <br>

    {{ "{0} There is no apples|{1} There is one apple|]1,Inf] There are %count% apples"|transchoice(count) }}
{% endblock %}
